@keyframes blurTextAnimation {
  0% {
    filter: blur(10px);
    opacity: 0;
    transform: translateY(-50px);
  }

  50% {
    filter: blur(5px);
    opacity: 0.5;
    transform: translateY(5px);
  }

  100% {
    filter: blur(0px);
    opacity: 1;
    transform: translateY(0);
  }
}